.header {

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    &-top__left {
        display: flex;
    }

    &-top__list {
        display: flex;
        margin-left: 25px;
    }

    &-top__right {
        display: flex;
        gap: 44px;
    }

    &__link {
        color: rgba(0, 0, 0, 0.5);
    }

    &__bottom {
        background-color: rgba(154, 175, 139, 0.2);
        padding: 30px 0 20px;
    }

    &__content {
        display: flex;
    }

    &__number {
        display: flex;
        gap: 35px;
    }

    &__title {
        @include text(20px, 600, 20px);
        padding-bottom: 10px;
    }

    &__subtitle {
        @include text(14px, 400, 13px);
    }

    &__button {
        height: 50px;
        width: 200px;
        border-radius: 30px;
        border: 1px solid #006A3D;
    }

    &__like {
        margin-left: 160px;
        padding: 0 0 103px;
    }

    &__shop {
        margin-left: 55px;
        padding: 0 0 103px;
    }

}

.nav {

    &__list {
        display: flex;
        gap: 37px;
    }

    &__link {
        color: rgba(0, 0, 0, 0.5);
    }

}

.whatsApp {
    margin-left: 145px;
    display: flex;
    padding: 0 0 98px;
    gap: 15px;

    &__link:first-child {
        @include text(17px, 400, 17px);
        color: rgba(0, 0, 0, 1);
    }

    &__item:last-child {
        @include text(13px, 400, 13px);
        color: rgba(0, 0, 0, 0.5);
    }


}



